atomicwrites==1.2.1
attrs==18.2.0
bcrypt==3.1.5
beautifulsoup4==4.6.3
cachetools==3.0.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
colorama==0.4.1
decorator==4.3.0
Django==2.2.13
django-cors-headers==2.4.0
django-crispy-forms==1.7.2
djangorestframework==3.9.0
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
future==0.17.1
geocoder==1.38.1
idna==2.8
ipinfo==1.1.0
ipinfo-django==0.1.4
itsdangerous==1.1.0
Jinja2==2.10
lxml==4.2.5
MarkupSafe==1.1.0
MechanicalSoup==0.11.0
more-itertools==5.0.0
passlib==1.7.1
pipenv==2018.11.26
pluggy==0.8.0
prettytable==0.7.2
psycopg2==2.7.6.1
py==1.7.0
pycparser==2.19
pytest==4.1.0
pytz==2018.7
ratelim==0.1.6
requests==2.21.0
selenium==3.141.0
six==1.12.0
SQLAlchemy==1.2.15
urllib3==1.24.1
validators==0.12.3
virtualenv==16.2.0
virtualenv-clone==0.4.0
Werkzeug==0.15.3
WTForms==2.2.1