{% extends "layout.html" %}
{% block content %}
		
		<div class="content-section">
			<form action="" method="POST">
				{{ form_enter.hidden_tag() }}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4"><b>Shorten Your URL</b></legend>
					<div class="form-group">
						{{form_enter.url.label(class="form-control_label") }}
						{{form_enter.url(class="form-control form-control-lg") }}
					</div>

				</fieldset>
				<div class="form-group">
					{{form_enter.submit(class="btn btn-outline-info") }}
				</div>
			</form>
		</div>	
{% endblock content %}